@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 252, 252, 3;
}


body {
  color: rgb(var(--foreground-rgb));
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
